@charset "utf-8";
/* CSS Document */

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body{
	background-color: #CCCCCC;
    padding: 0;
    margin: 0;
	}
#container{
	width: 100%;
	margin:0;
    padding: 0;
	
}
#content{
	width: 100%;
	margin:0;
	}
#content ul{
	list-style-type:none;
	}
#content li a img{
	border: 1px solid grey;
}

#content li{
	width:200px;
	display:inline-block;
	margin-right:10px;
	margin-bottom: 10px;

}


	